**총 복습**<br>
- 입출력 
- 문자열
- 리스트, 딕셔너리
- 반복/조건문
- 함수 : def 함수 이름 (인자argument ):
    함수 코드 내용
    return ()

**문제**
- [10171 고양이](https://www.acmicpc.net/problem/10171): 입출력
- L=[11, 10, 83, 25, 28]의 원소들을 오른쪽으로 한 칸씩 쉬프트(rotate right)하여 출력하시오. : 리스트
- [2675 문자열 반복](https://icpc.me/2675) : 문자열, 반복
- [14405: 피카츄](https://www.acmicpc.net/problem/14405) 인덱스: 문자열, 반복조건문
- 문장을 입력 받으면, 그 문장을 구성하는 단어들의 개수와 단어들의 평균길이를 구하시오.: 함수 만들어서 풀기

In [ ]:
# L=[11, 10, 83, 25, 28]의 원소들을 오른쪽으로 한 칸씩 쉬프트(rotate right)하여 출력하시오. : 리스트 의 확장
while True:
    l = list(map(int, input("list of numbers: ").split()))
    _len = len(l)
    move = int(input("Move: "))
    if move > _len:
        print("move should be smaller than length of the list")
        continue
    
    direction = input("Direction(L/R): ").lower()
    l = l+l
    
    if direction == "l":
        result = l[move:move+_len]
    elif direction == "r":
        result = l[(_len-move):(_len-move)+_len]
    else:
        print("direction should be either L or R")

    print(result)
    
    if input("Continue? Y/N: ").lower() == 'y':
        break

In [ ]:
# 문장을 입력 받으면, 그 문장을 구성하는 단어들의 개수와 단어들의 평균길이를 구하시오.: 함수 만들어서 풀기
def count_average():
    ()
    return ()

# 문장 입력
sentence
count_average(sentence)
print(평균, 단어 개수 )

# 파일 입출력

연다 - 읽거나 쓴다 - 닫는다 <br>
"r", "w", "a", "r+"

1. txt 파일
2. csv 파일

In [ ]:
f = open("./example.txt", 'w')
for i in range(1, 11):
    data = "%d\n" % i
    f.write(data)

In [ ]:
line = f.read()

In [ ]:
f.close()

In [ ]:
f = open("./example.txt", 'r')
line1 = f.readline()
print("line1\n", line1, sep="")
f.readline()
line2 = f.read()
print("line2\n", line2, sep="")
lines = f.readlines()
print("lines\n", lines, sep="")

line1, line2, lines = map(type, (line1, line2, lines))
print(line1, line2, lines)
f.close()

In [ ]:
with open("../python.txt", "w") as f:
    f.write("Life is too short, you need python")

In [ ]:
with open("./2675.txt", 'w') as f:
    f.write("2\n")
    f.write("3 ABC\n")
    f.write("5 /HTP\n")

# csv파일과 pandas

In [1]:
import pandas as pd
# from pandas import read_csv

In [2]:
filepath = "./example.csv"
df = pd.read_csv(filepath, encoding="cp949")

In [3]:
df

,구분,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
0,서울,6683,46861,64601,72137,5647,17109,1449,3875,58,74270,509,19,180,4120,44407
1,부산,1630,16777,20444,25052,2201,8134,963,2365,223,32944,209,6,60,662,22296
2,대구,1028,9171,14557,13227,1586,2756,334,289,11,31682,96,2,28,615,10712
3,인천,1817,10025,19881,17248,1711,3741,641,957,85,30972,80,4,64,1281,14952
4,광주,796,6050,8610,8896,667,1616,75,249,8,22137,29,8,7,330,4809
5,대전,724,6981,9183,8979,896,1465,117,213,14,14524,96,1,17,555,5268
6,울산,523,4227,7803,6120,926,1159,78,226,47,14105,75,2,33,222,4784
7,세종,58,638,822,821,57,357,8,22,4,1234,6,1,7,131,495
8,경기 고양,382,2606,4669,5307,351,1010,92,214,41,12280,47,2,10,347,4025
9,경기 과천,25,159,301,280,35,40,2,5,8,934,0,0,1,2,358
10,경기 광명,143,1221,2078,1501,144,756,26,104,10,3141,12,0,9,63,1476
11,경기 광주,104,881,1799,1662,148,317,19,64,66,4171,12,0,2,110,2175
12,경기 구리,136,936,1549,1501,131,244,30,56,4,2225,12,0,3,75,1123
13,경기 군포,96,837,1419,1425,96,314,9,81,2,2801,4,1,2,63,1101
14,경기 김포,134,1004,1298,2200,109,398,44,56,3,4124,5,0,3,64,1863
15,경기 남양주,266,1470,3391,2901,200,555,63,359,63,5542,35,1,13,236,3232
16,경기 동두천,53,342,729,592,35,104,9,21,5,1158,0,0,1,41,454
17,경기 부천,530,4471,5836,6451,410,1054,80,132,19,10437,54,2,12,311,6287
18,경기 성남,525,3963,5553,5570,598,1459,66,204,13,12472,25,2,11,314,6863
19,경기 수원,654,5610,7883,7177,684,1402,95,324,20,17841,59,5,17,415,8542
20,경기 시흥,221,1500,3143,2856,193,549,55,72,79,10640,14,0,10,183,4021
21,경기 안산,491,3285,5822,5376,403,1039,110,147,106,13356,13,0,23,268,6007
22,경기 안성,86,791,1127,925,56,209,29,41,9,2778,3,0,5,73,1158
23,경기 안양,298,2003,3729,3114,533,746,35,113,8,5789,359,0,5,135,2876
24,경기 양주,71,445,1323,1190,60,173,15,94,68,2771,4,1,7,117,968
25,경기 여주,70,450,688,666,43,118,11,21,3,2064,0,0,2,15,874
26,경기 오산,103,1017,1545,1061,110,236,8,65,22,2738,1,0,8,119,1837
27,경기 용인,267,2468,4043,3916,305,614,90,140,86,8695,24,1,11,203,4291
28,경기 의왕,36,232,568,439,50,106,5,18,1,1765,1,0,3,38,616
29,경기 의정부,242,1753,3310,2573,188,562,117,108,7,3726,57,1,4,160,2064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,전북 익산,133,1153,1703,1489,213,214,9,68,41,3088,4,0,19,65,1539
58,전북 전주,274,2386,3087,3567,345,420,44,155,5,5580,20,0,22,161,2871
59,전북 정읍,44,245,573,626,23,62,1,32,6,1095,3,0,5,18,369
60,전남 광양,59,401,687,702,40,87,9,31,8,2450,3,0,5,17,390
61,전남 나주,12,45,47,225,5,25,2,5,5,253,0,0,3,2,103
62,전남 목포,165,1196,2172,1505,120,238,19,37,24,4356,27,0,4,98,1758
63,전남 순천,122,884,1709,1144,106,221,25,41,3,5024,7,0,3,65,823
64,전남 여수,106,1076,2017,2053,87,209,39,53,1291,4975,6,0,24,59,1143
65,경북 경산,100,1319,1650,1194,177,231,26,23,1,2344,11,0,0,96,876
66,경북 경주,108,1143,1308,1338,221,183,23,48,43,3794,3,0,1,50,913
67,경북 구미,141,1562,2173,3091,289,386,39,78,29,8552,21,0,10,199,1414
68,경북 김천,40,450,769,479,29,90,20,37,5,1916,2,0,1,20,413
69,경북 문경,23,228,357,225,9,34,31,4,0,920,1,0,0,10,211
70,경북 상주,30,262,410,317,31,26,43,11,29,1112,3,0,10,16,233
71,경북 안동,65,574,1056,1495,59,154,16,29,14,1609,3,0,11,25,551
72,경북 영주,25,269,488,593,112,75,29,9,1,1227,10,0,0,15,285
73,경북 영천,32,344,524,534,30,63,18,13,37,1154,0,0,3,20,282
74,경북 포항,192,1942,2679,2782,182,478,16,92,53,7488,19,0,6,137,1828
75,경남 거제,114,1114,1685,2016,150,349,42,53,31,4820,21,0,4,104,1223
76,경남 김해,188,2380,3193,3166,164,585,152,131,78,7346,33,0,14,173,2036
77,경남 밀양,31,413,496,538,15,82,40,39,24,1243,1,1,1,37,392
78,경남 사천,42,307,590,558,18,72,25,36,15,1908,3,0,3,15,534
79,경남 양산,128,974,1492,1560,104,272,33,93,8,3760,11,0,8,164,1476
80,경남 진주,127,1700,1752,1561,98,455,128,102,46,3749,12,0,18,80,1349
81,경남 창원,357,3760,5615,6682,497,997,164,261,69,12594,78,4,23,292,4535
82,경남 통영,50,551,985,858,95,140,27,20,23,2430,70,0,4,41,2308
83,제주 서귀포,128,927,1632,955,72,643,5,26,15,4060,3,0,5,84,1265
84,제주 제주,365,2573,4471,3108,411,713,34,88,13,11642,8,2,12,145,3480
85,기타도시,62,369,493,2055,177,902,19,26,23,1287,3,2,6,62,1187
86,도시이외,1470,9839,15708,18300,1022,2293,720,951,523,43990,67,3,129,761,17984

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [6]:
df.columns

Index(['구분', '강력범죄', '절도범죄', '폭력범죄', '지능범죄', '풍속범죄', '특별경제범죄', '마약범죄', '보건범죄',
       '환경범죄', '교통범죄', '노동범죄', '안보범죄', '선거범죄', '병역범죄', '기타범죄'],
      dtype='object')

In [7]:
df.iloc[0:5, 1:5]

   강력범죄   절도범죄   폭력범죄   지능범죄
0  6683  46861  64601  72137
1  1630  16777  20444  25052
2  1028   9171  14557  13227
3  1817  10025  19881  17248
4   796   6050   8610   8896

In [8]:
df.loc[:, 0:5]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [9]:
df.loc[:,'강력범죄':'지능범죄']

    강력범죄   절도범죄   폭력범죄   지능범죄
0   6683  46861  64601  72137
1   1630  16777  20444  25052
2   1028   9171  14557  13227
3   1817  10025  19881  17248
4    796   6050   8610   8896
5    724   6981   9183   8979
6    523   4227   7803   6120
7     58    638    822    821
8    382   2606   4669   5307
9     25    159    301    280
10   143   1221   2078   1501
11   104    881   1799   1662
12   136    936   1549   1501
13    96    837   1419   1425
14   134   1004   1298   2200
15   266   1470   3391   2901
16    53    342    729    592
17   530   4471   5836   6451
18   525   3963   5553   5570
19   654   5610   7883   7177
20   221   1500   3143   2856
21   491   3285   5822   5376
22    86    791   1127    925
23   298   2003   3729   3114
24    71    445   1323   1190
25    70    450    688    666
26   103   1017   1545   1061
27   267   2468   4043   3916
28    36    232    568    439
29   242   1753   3310   2573
..   ...    ...    ...    ...
57   133   1153   1703   1489
58   274   2386   3087   3567
59    44    245    573    626
60    59    401    687    702
61    12     45     47    225
62   165   1196   2172   1505
63   122    884   1709   1144
64   106   1076   2017   2053
65   100   1319   1650   1194
66   108   1143   1308   1338
67   141   1562   2173   3091
68    40    450    769    479
69    23    228    357    225
70    30    262    410    317
71    65    574   1056   1495
72    25    269    488    593
73    32    344    524    534
74   192   1942   2679   2782
75   114   1114   1685   2016
76   188   2380   3193   3166
77    31    413    496    538
78    42    307    590    558
79   128    974   1492   1560
80   127   1700   1752   1561
81   357   3760   5615   6682
82    50    551    985    858
83   128    927   1632    955
84   365   2573   4471   3108
85    62    369    493   2055
86  1470   9839  15708  18300

[87 rows x 4 columns]

In [10]:
filepath = "./example.csv"
df1 = pd.read_csv(filepath, index_col=[0], header=0, encoding="cp949")

In [ ]:
df1

In [ ]:
df1 *= 10

In [ ]:
df1

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df2 = pd.DataFrame(df1, columns=['강력범죄', '지능범죄'])

In [ ]:
df2

In [ ]:
df2.to_csv("./example_output.csv")

# 클래스 --> 궁금한거 두개 이상 적어오기~
객체이름.메소드


1.  굳이 "__init__"을 써야하는 이유는 무엇인가?
    변수를 다 안채운 인스턴스를 못 만들게 하기 위한건가?

2.  isOn 자리에는 Ture/False, 1/0을 쓰면 되는가?

3.  status 메소드는 tv.status()를 실행하면 안 그러는데, 왜 print(tv.status())를 실행하면 마지막 줄에 None이 나올까?

*************
dial = "JL"
dial[0] == 'C' or 'J'

In [11]:
class TV:
    def __init__(self, channel, volume, isOn):
        self.channel = channel
        self.volume = volume
        self.isOn = isOn
    
    def turnOn(self):
        self.isOn = True
    
    def turnOff(self):
        self.isOn = False
        
    def setChannel(self, channel):
        self.channel = channel
        
    def setVolume(self, volume):
        self.volume = volume
        
    def status(self):
        print("Channel: ", self.channel)
        print("Volume: ", self.volume)
        print("On/Off: ", self.isOn)

In [14]:
tele = TV(7, 6, True)

In [16]:
tele.turnOff()

In [17]:
tele.status()

Channel:  7
Volume:  6
On/Off:  False

In [9]:
tele.turnOff()

In [43]:
print(tele.status())

Channel:  7
Volume:  6
On/Off:  False
None

In [35]:
class Television:
    def __init__(self, channel, volume, isOn):
        self.channel = channel
        self.volume = volume
        self.isOn = isOn

    def turnOn(self):
        self.isOn = True
    
    def turnOff(self):
        self.isOn = False
        
    def setChannel(self, channel):
        self.channel = channel
        
    def setVolume(self, volume):
        self.volume = volume
        
    def status(self):
        print("Channel: ", self.channel)
        print("Volume: ", self.volume)
        print("On/Off: ", self.isOn)

In [38]:
tv2 = Television(5, 9, False)

In [39]:
tv2.turnOn()

In [40]:
tv2.setChannel(8)

In [41]:
tv2.setVolume(10)

In [42]:
print(tv2.status())

Channel:  8
Volume:  10
On/Off:  True
None

In [ ]:
tv = TV(5, 8, True)

In [ ]:
tv

In [ ]:
tv.status()

In [ ]:
tv.setChannel(15)

In [ ]:
tv.status()