In [1]:
num = int(input())

13

In [3]:
if num % 2 == 0 :
    print("짝수")
else : print("홀수")

홀수

In [4]:
judgement = "짝수" if num % 2 == 0 else "홀수"

In [5]:
print(judgement)

홀수

In [6]:
pin = input()

881120-1738223

In [11]:
print("""19{}년
{}월
{}일""".format(pin[0:2], pin[2:4], pin[4:6]))

1988년
11월
20일

In [12]:
print("19{}년 {}월 {}일".format(pin[0:2], pin[2:4], pin[4:6]))

1988년 11월 20일

In [18]:
gender = "남자" if pin[7] == "1" else "여자"

In [19]:
print(pin[7])

1

In [20]:
print(gender)

남자

In [21]:
a = "a:b:c:d"

In [28]:
a = a.replace(":", "#")

In [29]:
print(a)

a#b#c#d

In [48]:
example = [1, 3, 5, 4, 2]

In [49]:
example.sort()

In [51]:
example.sort(reverse = True)

In [52]:
print(example)

[5, 4, 3, 2, 1]

In [53]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

replace는 a = a.replace(":", "#")해야만 적용되는데 
왜 sort는 example = example.sort()가 아닐까??

In [59]:
sen_list = ["life", "is", "too", "short"]

In [62]:
sentence = " ".join(sen_list)

In [ ]:
sentence.join("!")

In [63]:
print(sentence)

life is too short

In [64]:
tupp = 1, 2, 3

In [78]:
tuppp = (4,)

In [79]:
tupppp = tupp + tuppp

In [80]:
print(tupppp)

(1, 2, 3, 4)

In [81]:
a = {}

In [82]:
a[('a',)] = 'python'

In [83]:
print(a)

{('a',): 'python'}

In [84]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [86]:
a = {'A':90, 'B':80, 'C':70}

In [90]:
a.pop('B')

80

In [91]:
print(a)

{'A': 90, 'C': 70}

In [92]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [93]:
a_set = set(a)

In [94]:
print(a_set)

{1, 2, 3, 4, 5}

In [95]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]