**총 복습**<br>
- 입출력 
- 문자열
- 리스트, 딕셔너리
- 반복/조건문
- 함수 : def 함수 이름 (인자argument ):
    함수 코드 내용
    return ()

**문제**
- [10171 고양이](https://www.acmicpc.net/problem/10171): 입출력
- L=[11, 10, 83, 25, 28]의 원소들을 오른쪽으로 한 칸씩 쉬프트(rotate right)하여 출력하시오. : 리스트
- [2675 문자열 반복](https://icpc.me/2675) : 문자열, 반복
- [14405: 피카츄](https://www.acmicpc.net/problem/14405) 인덱스: 문자열, 반복조건문
- 문장을 입력 받으면, 그 문장을 구성하는 단어들의 개수와 단어들의 평균길이를 구하시오.: 함수 만들어서 풀기

In [ ]:
# L=[11, 10, 83, 25, 28]의 원소들을 오른쪽으로 한 칸씩 쉬프트(rotate right)하여 출력하시오. : 리스트 의 확장
while True:
    l = list(map(int, input("list of numbers: ").split()))
    _len = len(l)
    move = int(input("Move: "))
    if move > _len:
        print("move should be smaller than length of the list")
        continue
    
    direction = input("Direction(L/R): ").lower()
    l = l+l
    
    if direction == "l":
        result = l[move:move+_len]
    elif direction == "r":
        result = l[(_len-move):(_len-move)+_len]
    else:
        print("direction should be either L or R")

    print(result)
    
    if input("Continue? Y/N: ").lower() == 'y':
        break

In [ ]:
# 문장을 입력 받으면, 그 문장을 구성하는 단어들의 개수와 단어들의 평균길이를 구하시오.: 함수 만들어서 풀기
def count_average():
    ()
    return ()

# 문장 입력
sentence
count_average(sentence)
print(평균, 단어 개수 )

# 파일 입출력

연다 - 읽거나 쓴다 - 닫는다 <br>
"r", "w", "a", "r+"

1. txt 파일
2. csv 파일

In [2]:
f = open("./example.txt", 'w')
for i in range(1, 11):
    data = "%d\n" % i
    f.write(data)

In [3]:
line = f.read()

UnsupportedOperation: not readable

In [4]:
f.close()

In [8]:
f = open("./example.txt", 'r')
line1 = f.readline()
print("line1\n", line1, sep="")
f.readline()
line2 = f.read()
print("line2\n", line2, sep="")
lines = f.readlines()
print("lines\n", lines, sep="")

line1, line2, lines = map(type, (line1, line2, lines))
print(line1, line2, lines)
f.close()

line1
1

line2
3
4
5
6
7
8
9
10

lines
[]
<class 'str'> <class 'str'> <class 'list'>

In [10]:
with open("../python.txt", "w") as f:
    f.write("Life is too short, you need python")

In [12]:
with open("./2675.txt", 'w') as f:
    f.write("2\n")
    f.write("3 ABC\n")
    f.write("5 /HTP\n")

# csv파일과 pandas

In [34]:
import pandas as pd
# from pandas import read_csv

In [37]:
filepath = "./example.csv"
df = pd.read_csv(filepath, encoding="cp949")

In [38]:
df

,구분,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
0,서울,6683,46861,64601,72137,5647,17109,1449,3875,58,74270,509,19,180,4120,44407
1,부산,1630,16777,20444,25052,2201,8134,963,2365,223,32944,209,6,60,662,22296
2,대구,1028,9171,14557,13227,1586,2756,334,289,11,31682,96,2,28,615,10712
3,인천,1817,10025,19881,17248,1711,3741,641,957,85,30972,80,4,64,1281,14952
4,광주,796,6050,8610,8896,667,1616,75,249,8,22137,29,8,7,330,4809
5,대전,724,6981,9183,8979,896,1465,117,213,14,14524,96,1,17,555,5268
6,울산,523,4227,7803,6120,926,1159,78,226,47,14105,75,2,33,222,4784
7,세종,58,638,822,821,57,357,8,22,4,1234,6,1,7,131,495
8,경기 고양,382,2606,4669,5307,351,1010,92,214,41,12280,47,2,10,347,4025
9,경기 과천,25,159,301,280,35,40,2,5,8,934,0,0,1,2,358
10,경기 광명,143,1221,2078,1501,144,756,26,104,10,3141,12,0,9,63,1476
11,경기 광주,104,881,1799,1662,148,317,19,64,66,4171,12,0,2,110,2175
12,경기 구리,136,936,1549,1501,131,244,30,56,4,2225,12,0,3,75,1123
13,경기 군포,96,837,1419,1425,96,314,9,81,2,2801,4,1,2,63,1101
14,경기 김포,134,1004,1298,2200,109,398,44,56,3,4124,5,0,3,64,1863
15,경기 남양주,266,1470,3391,2901,200,555,63,359,63,5542,35,1,13,236,3232
16,경기 동두천,53,342,729,592,35,104,9,21,5,1158,0,0,1,41,454
17,경기 부천,530,4471,5836,6451,410,1054,80,132,19,10437,54,2,12,311,6287
18,경기 성남,525,3963,5553,5570,598,1459,66,204,13,12472,25,2,11,314,6863
19,경기 수원,654,5610,7883,7177,684,1402,95,324,20,17841,59,5,17,415,8542
20,경기 시흥,221,1500,3143,2856,193,549,55,72,79,10640,14,0,10,183,4021
21,경기 안산,491,3285,5822,5376,403,1039,110,147,106,13356,13,0,23,268,6007
22,경기 안성,86,791,1127,925,56,209,29,41,9,2778,3,0,5,73,1158
23,경기 안양,298,2003,3729,3114,533,746,35,113,8,5789,359,0,5,135,2876
24,경기 양주,71,445,1323,1190,60,173,15,94,68,2771,4,1,7,117,968
25,경기 여주,70,450,688,666,43,118,11,21,3,2064,0,0,2,15,874
26,경기 오산,103,1017,1545,1061,110,236,8,65,22,2738,1,0,8,119,1837
27,경기 용인,267,2468,4043,3916,305,614,90,140,86,8695,24,1,11,203,4291
28,경기 의왕,36,232,568,439,50,106,5,18,1,1765,1,0,3,38,616
29,경기 의정부,242,1753,3310,2573,188,562,117,108,7,3726,57,1,4,160,2064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,전북 익산,133,1153,1703,1489,213,214,9,68,41,3088,4,0,19,65,1539
58,전북 전주,274,2386,3087,3567,345,420,44,155,5,5580,20,0,22,161,2871
59,전북 정읍,44,245,573,626,23,62,1,32,6,1095,3,0,5,18,369
60,전남 광양,59,401,687,702,40,87,9,31,8,2450,3,0,5,17,390
61,전남 나주,12,45,47,225,5,25,2,5,5,253,0,0,3,2,103
62,전남 목포,165,1196,2172,1505,120,238,19,37,24,4356,27,0,4,98,1758
63,전남 순천,122,884,1709,1144,106,221,25,41,3,5024,7,0,3,65,823
64,전남 여수,106,1076,2017,2053,87,209,39,53,1291,4975,6,0,24,59,1143
65,경북 경산,100,1319,1650,1194,177,231,26,23,1,2344,11,0,0,96,876
66,경북 경주,108,1143,1308,1338,221,183,23,48,43,3794,3,0,1,50,913
67,경북 구미,141,1562,2173,3091,289,386,39,78,29,8552,21,0,10,199,1414
68,경북 김천,40,450,769,479,29,90,20,37,5,1916,2,0,1,20,413
69,경북 문경,23,228,357,225,9,34,31,4,0,920,1,0,0,10,211
70,경북 상주,30,262,410,317,31,26,43,11,29,1112,3,0,10,16,233
71,경북 안동,65,574,1056,1495,59,154,16,29,14,1609,3,0,11,25,551
72,경북 영주,25,269,488,593,112,75,29,9,1,1227,10,0,0,15,285
73,경북 영천,32,344,524,534,30,63,18,13,37,1154,0,0,3,20,282
74,경북 포항,192,1942,2679,2782,182,478,16,92,53,7488,19,0,6,137,1828
75,경남 거제,114,1114,1685,2016,150,349,42,53,31,4820,21,0,4,104,1223
76,경남 김해,188,2380,3193,3166,164,585,152,131,78,7346,33,0,14,173,2036
77,경남 밀양,31,413,496,538,15,82,40,39,24,1243,1,1,1,37,392
78,경남 사천,42,307,590,558,18,72,25,36,15,1908,3,0,3,15,534
79,경남 양산,128,974,1492,1560,104,272,33,93,8,3760,11,0,8,164,1476
80,경남 진주,127,1700,1752,1561,98,455,128,102,46,3749,12,0,18,80,1349
81,경남 창원,357,3760,5615,6682,497,997,164,261,69,12594,78,4,23,292,4535
82,경남 통영,50,551,985,858,95,140,27,20,23,2430,70,0,4,41,2308
83,제주 서귀포,128,927,1632,955,72,643,5,26,15,4060,3,0,5,84,1265
84,제주 제주,365,2573,4471,3108,411,713,34,88,13,11642,8,2,12,145,3480
85,기타도시,62,369,493,2055,177,902,19,26,23,1287,3,2,6,62,1187
86,도시이외,1470,9839,15708,18300,1022,2293,720,951,523,43990,67,3,129,761,17984

In [39]:
type(df)

pandas.core.frame.DataFrame

In [40]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [41]:
df.columns

Index(['구분', '강력범죄', '절도범죄', '폭력범죄', '지능범죄', '풍속범죄', '특별경제범죄', '마약범죄', '보건범죄',
       '환경범죄', '교통범죄', '노동범죄', '안보범죄', '선거범죄', '병역범죄', '기타범죄'],
      dtype='object')

In [47]:
df.iloc[0:5, 1:5]

   강력범죄   절도범죄   폭력범죄   지능범죄
0  6683  46861  64601  72137
1  1630  16777  20444  25052
2  1028   9171  14557  13227
3  1817  10025  19881  17248
4   796   6050   8610   8896

In [51]:
df.loc[:, 0:5]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [50]:
df.loc[:,'강력범죄':'지능범죄']

강력범죄     6683
절도범죄    46861
폭력범죄    64601
지능범죄    72137
Name: 0, dtype: object

In [73]:
filepath = "./example.csv"
df1 = pd.read_csv(filepath, index_col=[0], header=0, encoding="cp949")

In [74]:
df1

,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
구분,,,,,,,,,,,,,,,
서울,6683,46861,64601,72137,5647,17109,1449,3875,58,74270,509,19,180,4120,44407
부산,1630,16777,20444,25052,2201,8134,963,2365,223,32944,209,6,60,662,22296
대구,1028,9171,14557,13227,1586,2756,334,289,11,31682,96,2,28,615,10712
인천,1817,10025,19881,17248,1711,3741,641,957,85,30972,80,4,64,1281,14952
광주,796,6050,8610,8896,667,1616,75,249,8,22137,29,8,7,330,4809
대전,724,6981,9183,8979,896,1465,117,213,14,14524,96,1,17,555,5268
울산,523,4227,7803,6120,926,1159,78,226,47,14105,75,2,33,222,4784
세종,58,638,822,821,57,357,8,22,4,1234,6,1,7,131,495
경기 고양,382,2606,4669,5307,351,1010,92,214,41,12280,47,2,10,347,4025
경기 과천,25,159,301,280,35,40,2,5,8,934,0,0,1,2,358
경기 광명,143,1221,2078,1501,144,756,26,104,10,3141,12,0,9,63,1476
경기 광주,104,881,1799,1662,148,317,19,64,66,4171,12,0,2,110,2175
경기 구리,136,936,1549,1501,131,244,30,56,4,2225,12,0,3,75,1123
경기 군포,96,837,1419,1425,96,314,9,81,2,2801,4,1,2,63,1101
경기 김포,134,1004,1298,2200,109,398,44,56,3,4124,5,0,3,64,1863
경기 남양주,266,1470,3391,2901,200,555,63,359,63,5542,35,1,13,236,3232
경기 동두천,53,342,729,592,35,104,9,21,5,1158,0,0,1,41,454
경기 부천,530,4471,5836,6451,410,1054,80,132,19,10437,54,2,12,311,6287
경기 성남,525,3963,5553,5570,598,1459,66,204,13,12472,25,2,11,314,6863
경기 수원,654,5610,7883,7177,684,1402,95,324,20,17841,59,5,17,415,8542
경기 시흥,221,1500,3143,2856,193,549,55,72,79,10640,14,0,10,183,4021
경기 안산,491,3285,5822,5376,403,1039,110,147,106,13356,13,0,23,268,6007
경기 안성,86,791,1127,925,56,209,29,41,9,2778,3,0,5,73,1158
경기 안양,298,2003,3729,3114,533,746,35,113,8,5789,359,0,5,135,2876
경기 양주,71,445,1323,1190,60,173,15,94,68,2771,4,1,7,117,968
경기 여주,70,450,688,666,43,118,11,21,3,2064,0,0,2,15,874
경기 오산,103,1017,1545,1061,110,236,8,65,22,2738,1,0,8,119,1837
경기 용인,267,2468,4043,3916,305,614,90,140,86,8695,24,1,11,203,4291
경기 의왕,36,232,568,439,50,106,5,18,1,1765,1,0,3,38,616
경기 의정부,242,1753,3310,2573,188,562,117,108,7,3726,57,1,4,160,2064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
전북 익산,133,1153,1703,1489,213,214,9,68,41,3088,4,0,19,65,1539
전북 전주,274,2386,3087,3567,345,420,44,155,5,5580,20,0,22,161,2871
전북 정읍,44,245,573,626,23,62,1,32,6,1095,3,0,5,18,369
전남 광양,59,401,687,702,40,87,9,31,8,2450,3,0,5,17,390
전남 나주,12,45,47,225,5,25,2,5,5,253,0,0,3,2,103
전남 목포,165,1196,2172,1505,120,238,19,37,24,4356,27,0,4,98,1758
전남 순천,122,884,1709,1144,106,221,25,41,3,5024,7,0,3,65,823
전남 여수,106,1076,2017,2053,87,209,39,53,1291,4975,6,0,24,59,1143
경북 경산,100,1319,1650,1194,177,231,26,23,1,2344,11,0,0,96,876
경북 경주,108,1143,1308,1338,221,183,23,48,43,3794,3,0,1,50,913
경북 구미,141,1562,2173,3091,289,386,39,78,29,8552,21,0,10,199,1414
경북 김천,40,450,769,479,29,90,20,37,5,1916,2,0,1,20,413
경북 문경,23,228,357,225,9,34,31,4,0,920,1,0,0,10,211
경북 상주,30,262,410,317,31,26,43,11,29,1112,3,0,10,16,233
경북 안동,65,574,1056,1495,59,154,16,29,14,1609,3,0,11,25,551
경북 영주,25,269,488,593,112,75,29,9,1,1227,10,0,0,15,285
경북 영천,32,344,524,534,30,63,18,13,37,1154,0,0,3,20,282
경북 포항,192,1942,2679,2782,182,478,16,92,53,7488,19,0,6,137,1828
경남 거제,114,1114,1685,2016,150,349,42,53,31,4820,21,0,4,104,1223
경남 김해,188,2380,3193,3166,164,585,152,131,78,7346,33,0,14,173,2036
경남 밀양,31,413,496,538,15,82,40,39,24,1243,1,1,1,37,392
경남 사천,42,307,590,558,18,72,25,36,15,1908,3,0,3,15,534
경남 양산,128,974,1492,1560,104,272,33,93,8,3760,11,0,8,164,1476
경남 진주,127,1700,1752,1561,98,455,128,102,46,3749,12,0,18,80,1349
경남 창원,357,3760,5615,6682,497,997,164,261,69,12594,78,4,23,292,4535
경남 통영,50,551,985,858,95,140,27,20,23,2430,70,0,4,41,2308
제주 서귀포,128,927,1632,955,72,643,5,26,15,4060,3,0,5,84,1265
제주 제주,365,2573,4471,3108,411,713,34,88,13,11642,8,2,12,145,3480
기타도시,62,369,493,2055,177,902,19,26,23,1287,3,2,6,62,1187
도시이외,1470,9839,15708,18300,1022,2293,720,951,523,43990,67,3,129,761,17984

In [77]:
df1 *= 10

In [78]:
df1

,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
구분,,,,,,,,,,,,,,,
서울,67830,469610,647010,722370,57470,172090,15490,39750,1580,743700,6090,1190,2800,42200,445070
부산,17300,168770,205440,251520,23010,82340,10630,24650,3230,330440,3090,1060,1600,7620,223960
대구,11280,92710,146570,133270,16860,28560,4340,3890,1110,317820,1960,1020,1280,7150,108120
인천,19170,101250,199810,173480,18110,38410,7410,10570,1850,310720,1800,1040,1640,13810,150520
광주,8960,61500,87100,89960,7670,17160,1750,3490,1080,222370,1290,1080,1070,4300,49090
대전,8240,70810,92830,90790,9960,15650,2170,3130,1140,146240,1960,1010,1170,6550,53680
울산,6230,43270,79030,62200,10260,12590,1780,3260,1470,142050,1750,1020,1330,3220,48840
세종,1580,7380,9220,9210,1570,4570,1080,1220,1040,13340,1060,1010,1070,2310,5950
경기 고양,4820,27060,47690,54070,4510,11100,1920,3140,1410,123800,1470,1020,1100,4470,41250
경기 과천,1250,2590,4010,3800,1350,1400,1020,1050,1080,10340,1000,1000,1010,1020,4580
경기 광명,2430,13210,21780,16010,2440,8560,1260,2040,1100,32410,1120,1000,1090,1630,15760
경기 광주,2040,9810,18990,17620,2480,4170,1190,1640,1660,42710,1120,1000,1020,2100,22750
경기 구리,2360,10360,16490,16010,2310,3440,1300,1560,1040,23250,1120,1000,1030,1750,12230
경기 군포,1960,9370,15190,15250,1960,4140,1090,1810,1020,29010,1040,1010,1020,1630,12010
경기 김포,2340,11040,13980,23000,2090,4980,1440,1560,1030,42240,1050,1000,1030,1640,19630
경기 남양주,3660,15700,34910,30010,3000,6550,1630,4590,1630,56420,1350,1010,1130,3360,33320
경기 동두천,1530,4420,8290,6920,1350,2040,1090,1210,1050,12580,1000,1000,1010,1410,5540
경기 부천,6300,45710,59360,65510,5100,11540,1800,2320,1190,105370,1540,1020,1120,4110,63870
경기 성남,6250,40630,56530,56700,6980,15590,1660,3040,1130,125720,1250,1020,1110,4140,69630
경기 수원,7540,57100,79830,72770,7840,15020,1950,4240,1200,179410,1590,1050,1170,5150,86420
경기 시흥,3210,16000,32430,29560,2930,6490,1550,1720,1790,107400,1140,1000,1100,2830,41210
경기 안산,5910,33850,59220,54760,5030,11390,2100,2470,2060,134560,1130,1000,1230,3680,61070
경기 안성,1860,8910,12270,10250,1560,3090,1290,1410,1090,28780,1030,1000,1050,1730,12580
경기 안양,3980,21030,38290,32140,6330,8460,1350,2130,1080,58890,4590,1000,1050,2350,29760
경기 양주,1710,5450,14230,12900,1600,2730,1150,1940,1680,28710,1040,1010,1070,2170,10680
경기 여주,1700,5500,7880,7660,1430,2180,1110,1210,1030,21640,1000,1000,1020,1150,9740
경기 오산,2030,11170,16450,11610,2100,3360,1080,1650,1220,28380,1010,1000,1080,2190,19370
경기 용인,3670,25680,41430,40160,4050,7140,1900,2400,1860,87950,1240,1010,1110,3030,43910
경기 의왕,1360,3320,6680,5390,1500,2060,1050,1180,1010,18650,1010,1000,1030,1380,7160
경기 의정부,3420,18530,34100,26730,2880,6620,2170,2080,1070,38260,1570,1010,1040,2600,21640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
전북 익산,2330,12530,18030,15890,3130,3140,1090,1680,1410,31880,1040,1000,1190,1650,16390
전북 전주,3740,24860,31870,36670,4450,5200,1440,2550,1050,56800,1200,1000,1220,2610,29710
전북 정읍,1440,3450,6730,7260,1230,1620,1010,1320,1060,11950,1030,1000,1050,1180,4690
전남 광양,1590,5010,7870,8020,1400,1870,1090,1310,1080,25500,1030,1000,1050,1170,4900
전남 나주,1120,1450,1470,3250,1050,1250,1020,1050,1050,3530,1000,1000,1030,1020,2030
전남 목포,2650,12960,22720,16050,2200,3380,1190,1370,1240,44560,1270,1000,1040,1980,18580
전남 순천,2220,9840,18090,12440,2060,3210,1250,1410,1030,51240,1070,1000,1030,1650,9230
전남 여수,2060,11760,21170,21530,1870,3090,1390,1530,13910,50750,1060,1000,1240,1590,12430
경북 경산,2000,14190,17500,12940,2770,3310,1260,1230,1010,24440,1110,1000,1000,1960,9760
경북 경주,2080,12430,14080,14380,3210,2830,1230,1480,1430,38940,1030,1000,1010,1500,10130
경북 구미,2410,16620,22730,31910,3890,4860,1390,1780,1290,86520,1210,1000,1100,2990,15140
경북 김천,1400,5500,8690,5790,1290,1900,1200,1370,1050,20160,1020,1000,1010,1200,5130
경북 문경,1230,3280,4570,3250,1090,1340,1310,1040,1000,10200,1010,1000,1000,1100,3110
경북 상주,1300,3620,5100,4170,1310,1260,1430,1110,1290,12120,1030,1000,1100,1160,3330
경북 안동,1650,6740,11560,15950,1590,2540,1160,1290,1140,17090,1030,1000,1110,1250,6510
경북 영주,1250,3690,5880,6930,2120,1750,1290,1090,1010,13270,1100,1000,1000,1150,3850
경북 영천,1320,4440,6240,6340,1300,1630,1180,1130,1370,12540,1000,1000,1030,1200,3820
경북 포항,2920,20420,27790,28820,2820,5780,1160,1920,1530,75880,1190,1000,1060,2370,19280
경남 거제,2140,12140,17850,21160,2500,4490,1420,1530,1310,49200,1210,1000,1040,2040,13230
경남 김해,2880,24800,32930,32660,2640,6850,2520,2310,1780,74460,1330,1000,1140,2730,21360
경남 밀양,1310,5130,5960,6380,1150,1820,1400,1390,1240,13430,1010,1010,1010,1370,4920
경남 사천,1420,4070,6900,6580,1180,1720,1250,1360,1150,20080,1030,1000,1030,1150,6340
경남 양산,2280,10740,15920,16600,2040,3720,1330,1930,1080,38600,1110,1000,1080,2640,15760
경남 진주,2270,18000,18520,16610,1980,5550,2280,2020,1460,38490,1120,1000,1180,1800,14490
경남 창원,4570,38600,57150,67820,5970,10970,2640,3610,1690,126940,1780,1040,1230,3920,46350
경남 통영,1500,6510,10850,9580,1950,2400,1270,1200,1230,25300,1700,1000,1040,1410,24080
제주 서귀포,2280,10270,17320,10550,1720,7430,1050,1260,1150,41600,1030,1000,1050,1840,13650
제주 제주,4650,26730,45710,32080,5110,8130,1340,1880,1130,117420,1080,1020,1120,2450,35800
기타도시,1620,4690,5930,21550,2770,10020,1190,1260,1230,13870,1030,1020,1060,1620,12870
도시이외,15700,99390,158080,184000,11220,23930,8200,10510,6230,440900,1670,1030,2290,8610,180840

In [54]:
df1.index

Index(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기 고양', '경기 과천',
       '경기 광명', '경기 광주', '경기 구리', '경기 군포', '경기 김포', '경기 남양주', '경기 동두천',
       '경기 부천', '경기 성남', '경기 수원', '경기 시흥', '경기 안산', '경기 안성', '경기 안양', '경기 양주',
       '경기 여주', '경기 오산', '경기 용인', '경기 의왕', '경기 의정부', '경기 이천', '경기 파주', '경기 평택',
       '경기 포천', '경기 하남', '경기 화성', '강원 강릉', '강원 동해', '강원 삼척', '강원 속초', '강원 원주',
       '강원 춘천', '강원 태백', '충북 제천', '충북 청주', '충북 충주', '충남 계룡', '충남 공주', '충남 논산',
       '충남 당진', '충남 보령', '충남 서산', '충남 아산', '충남 천안', '전북 군산', '전북 김제', '전북 남원',
       '전북 익산', '전북 전주', '전북 정읍', '전남 광양', '전남 나주', '전남 목포', '전남 순천', '전남 여수',
       '경북 경산', '경북 경주', '경북 구미', '경북 김천', '경북 문경', '경북 상주', '경북 안동', '경북 영주',
       '경북 영천', '경북 포항', '경남 거제', '경남 김해', '경남 밀양', '경남 사천', '경남 양산', '경남 진주',
       '경남 창원', '경남 통영', '제주 서귀포', '제주 제주', '기타도시', '도시이외'],
      dtype='object', name='구분')

In [64]:
df1.columns

Index(['강력범죄', '절도범죄', '폭력범죄', '지능범죄', '풍속범죄', '특별경제범죄', '마약범죄', '보건범죄',
       '환경범죄', '교통범죄', '노동범죄', '안보범죄', '선거범죄', '병역범죄', '기타범죄'],
      dtype='object')

In [79]:
df2 = pd.DataFrame(df1, columns=['강력범죄', '지능범죄'])

In [80]:
df2

         강력범죄    지능범죄
구분
서울      67830  722370
부산      17300  251520
대구      11280  133270
인천      19170  173480
광주       8960   89960
대전       8240   90790
울산       6230   62200
세종       1580    9210
경기 고양    4820   54070
경기 과천    1250    3800
경기 광명    2430   16010
경기 광주    2040   17620
경기 구리    2360   16010
경기 군포    1960   15250
경기 김포    2340   23000
경기 남양주   3660   30010
경기 동두천   1530    6920
경기 부천    6300   65510
경기 성남    6250   56700
경기 수원    7540   72770
경기 시흥    3210   29560
경기 안산    5910   54760
경기 안성    1860   10250
경기 안양    3980   32140
경기 양주    1710   12900
경기 여주    1700    7660
경기 오산    2030   11610
경기 용인    3670   40160
경기 의왕    1360    5390
경기 의정부   3420   26730
...       ...     ...
전북 익산    2330   15890
전북 전주    3740   36670
전북 정읍    1440    7260
전남 광양    1590    8020
전남 나주    1120    3250
전남 목포    2650   16050
전남 순천    2220   12440
전남 여수    2060   21530
경북 경산    2000   12940
경북 경주    2080   14380
경북 구미    2410   31910
경북 김천    1400    5790
경북 문경    1230    3250
경북 상주    1300    4170
경북 안동    1650   15950
경북 영주    1250    6930
경북 영천    1320    6340
경북 포항    2920   28820
경남 거제    2140   21160
경남 김해    2880   32660
경남 밀양    1310    6380
경남 사천    1420    6580
경남 양산    2280   16600
경남 진주    2270   16610
경남 창원    4570   67820
경남 통영    1500    9580
제주 서귀포   2280   10550
제주 제주    4650   32080
기타도시     1620   21550
도시이외    15700  184000

[87 rows x 2 columns]

In [81]:
df2.to_csv("./example_output.csv")

# 클래스 --> 궁금한거 두개 이상 적어오기~
객체이름.메소드


1. __init__으로 미리 다 지정해주는 이유??
2. isOn은 True / Flase면, 1/0입력해도 되나??
3. __init__에서 연산은 불가능?

In [2]:
class TV:
    def __init__(self, channel, volume, isOn):
        self.channel = channel
        self.volume = volume
        self.isOn = isOn
    
    def turnOn(self):
        self.isOn = True
    
    def turnOff(self):
        self.isOn = False
        
    def setChannel(self, channel):
        self.channel = channel
        
    def setVolume(self, volume):
        self.volume = volume
        
    def status(self):
        print("Channel: ", self.channel)
        print("Volume: ", self.volume)

In [3]:
tv = TV(5, 8, True)

In [4]:
tv

In [5]:
tv.status()

Channel:  5
Volume:  8

In [6]:
tv.setChannel(15)

In [7]:
tv.status()

Channel:  15
Volume:  8

In [8]:
tv.turnOn()